---
// COMPONENTS
import MapPinIcon from "@components/icons/MapPinIcon.astro";
import ContainerCard from "@components/ContainerCard.astro";
import TypescriptIcon from "@components/icons/TypescriptIcon.astro";
import NodejsIcon from "@components/icons/NodejsIcon.astro";
import ReactIcon from "@components/icons/ReactIcon.astro";
import TailwindcssIcon from "@components/icons/TailwindcssIcon.astro";
import PythonIcon from "@components/icons/PythonIcon.astro";
import PostgresqlIcon from "@components/icons/PostgresqlIcon.astro";
import LinkIcon from "@components/LinkIcon.astro";

// DATA
import {
    typescript,
    react,
    tailwindcss,
    nodejs,
    postgresql,
    python,
} from "@data/techs";
---

<section id="about" class="pt-28 pb-8">
    <ContainerCard>
        <div class="flex flex-col sm:grid sm:grid-cols-5 gap-8 rounded-lg">
            <div class="col-span-2 flex">
                <h2 class="py-4 text-4xl lg:text-5xl font-extrabold text-white">
                    Sobre mí.
                </h2>
            </div>
            <div
                class="flex flex-col items-center justify-center gap-4 col-span-3"
            >
                <p
                    class="flex flex-row items-center justify-start gap-1 font-semibold md:text-lg w-full text-nowrap text-muted"
                >
                    <MapPinIcon class="size-6 fill-accent" /> Santiago, Chile
                </p>
                <p class="text-left text-muted text-base lg:text-lg">
                    Diseño y desarrollo <span
                        class="font-semibold text-secondary brightness-150"
                        >aplicaciones web y móviles</span
                    >
                    con un enfoque en resolver necesidades reales, como la gestión
                    de datos, la automatización de tareas y la mejora de la experiencia
                    del usuario.
                </p>
                <p class="text-left text-muted text-base lg:text-lg">
                    Actualmente, soy estudiante de <span
                        class="text-secondary brightness-150 font-semibold"
                        >Ingeniería Civil Telemática</span
                    >
                    en la Universidad Técnica Federico Santa María.
                </p>
                <div class="w-full pt-4">
                    <h3
                        class="py-4 text-2xl lg:text-3xl font-extrabold text-muted"
                    >
                        Tecnologías
                    </h3>
                    <div class="flex flex-col gap-4">
                        <div class="w-full flex flex-wrap gap-6">
                            <LinkIcon
                                href={typescript.url}
                                label=`Visitar sitio web oficial de ${typescript.name}`
                            >
                                <TypescriptIcon class="size-12" />
                            </LinkIcon>
                            <LinkIcon
                                href={react.url}
                                label=`Visitar sitio web oficial de ${react.name}`
                            >
                                <ReactIcon class="size-12" />
                            </LinkIcon>
                            <LinkIcon
                                href={tailwindcss.url}
                                label=`Visitar sitio web oficial de ${tailwindcss.name}`
                            >
                                <TailwindcssIcon class="size-12" />
                            </LinkIcon>
                            <LinkIcon
                                href={nodejs.url}
                                label=`Visitar sitio web oficial de ${nodejs.name}`
                            >
                                <NodejsIcon class="size-12" />
                            </LinkIcon>
                            <LinkIcon
                                href={postgresql.url}
                                label=`Visitar sitio web oficial de ${postgresql.name}`
                            >
                                <PostgresqlIcon class="size-12" />
                            </LinkIcon>
                            <LinkIcon
                                href={python.url}
                                label=`Visitar sitio web oficial de ${python.name}`
                            >
                                <PythonIcon class="size-12" />
                            </LinkIcon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ContainerCard>
</section>
