---
import { baseUrl } from "src/config";
import type { Project } from "src/types";

// COMPONENTS
import ProjectPreviewImage from "@components/images/ProjectPreviewImage.astro";

type Props = {
    project: Project;
};

const { project } = Astro.props;
---

<a
    href=`${baseUrl}/${project.href}`
    class="shadow border border-white rounded-lg overflow-hidden cursor-pointer"
>
    <div class="relative h-64 group">
        <ProjectPreviewImage src={project.img.path} alt={project.img.alt} />
        <img
            class="absolute inset-0 h-full w-full object-cover object-center"
            alt=""
            loading="lazy"
        />
        <div
            class="flex flex-col justify-center items-center gap-2 w-full h-full absolute inset-0 bg-black/50 backdrop-blur-sm opacity-0 transition duration-300 group-hover:opacity-100 group-focus-visible:opacity-100"
        >
            <p class="text-muted md:text-sm text-xs">{project.date}</p>
            <h3
                class="font-bold text-lg md:text-xl text-white text-balance text-center uppercase transition translate-y-full duration-300 group-hover:translate-y-0 group-focus-visible:-translate-y-0"
            >
                {project.name}
            </h3>
            <p class="text-muted md:text-sm text-xs">{project.category}</p>
        </div>
    </div>
</a>
